body {
  margin: 0px;
  overflow: hidden;

}
#header{
  background-color: aliceblue;
  height: 90px;
  display: flex;
  padding-left: 15px;
  
}
#info{
  display: flex;
  /* width: 25%; */
  justify-content: space-around;
}
#info> p {
  margin-right: 30px;
  font-size: 19px;
  display:flex;
  align-items: center;
}
#operation{
  display: flex;
  font-size: 19px;
  /* justify-content: space-around; */
  /* width: 50%; */
}
#operation>div{
  /* display:; */
  margin: 20px;
  display: flex;
  align-items: center;
}
button{
  margin-left: 10px;
}
#findSearch{
  width:12px;
}
#main-area {
  height: 90vh;
  overflow: hidden;
  position: relative;
}
#main-area > input {
  display: none;
  position: absolute;
  padding: 0px;
  /* border: 0px; */
}

.scrollbar {
  position: absolute;

  background: #ccc;
}
#verticall-div,#horizontal-div{
  background-color: aliceblue;
  position: absolute;
}
#verticall-div ,.scrollbar.vertical {
  width: 15px;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10%;
}

#horizontal-div,.scrollbar.horizontal {
  height: 15px;
  left: 0;
  right: 0;
  bottom: 0;
}
#horizontal-1{
  height: 30px;
  display: flex;
  justify-content: start;
  background-color: aliceblue;
}
#vertrical{
  background-color: aliceblue;
}

#horizontal-2{
  display: flex;
  position: relative;
  
}
#corner{
  width: 98px;
  height: 28px;
}