body {
  margin: 0px;
}
body > #header {
  background-color: aqua;
  height: 10vh;
  display: flex;
  padding-left: 15px;
}
body > #header > p {
  margin-right: 30px;
}
body > #header > p > span::-moz-selection {
  background-color: transparent;
}
body > #header > p > span::selection {
  background-color: transparent;
}
body > #main-area {
  height: 90vh;
  overflow: auto;
  position: relative;
}
body > #main-area > input {
  display: none;
  position: absolute;
  padding: 0px;
  /* border: 0px; */
}

.scrollbar {
  position: absolute;

  background: #ccc;
}

.scrollbar.vertical {
  width: 10px;

  right: 0;
  top: 0;
  bottom: 0;
}

.scrollbar.horizontal {
  height: 10px;

  left: 0;

  right: 0;

  bottom: 0;
}
